table {
  width: 100%;
}
a {
  text-decoration: underline;
  cursor: pointer;
}
table {
  width: 100%;
  border: 1px solid;
}

.table_large-col {
  width: 600px;
}

.table_medium-col {
  width: 350px;
}

.standard_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

td {
  padding: 4px 8px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}

th {
  padding: 0 8px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
}

